body {
    padding-bottom: 20px;
}

p {
    font-size: 16px;
}

/*h2::first-letter {
    color:blue;
}*/

footer p {
    margin-left: 10px;
    font-size: 0.9em;
}

.circle-image {
    border-radius: 50px;
    display: block;
    width: 100px;
}

.spacer {
    border-width: 0;
    margin: 3em;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

#icon {
    display: none;
}

#logo {
    display: block;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 600px) {
    #icon {
        display: block;
        align-content: center;
    }

    #logo {
        display: none;
    }
}
