@{
    ViewData["Title"] = "Developer Career Coaching";
}

<!-- @ViewData["env"] -->
<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">You want to Accelerate your Career!</h1>
                <p class="lead mb-0">
                    You're a software developer seeking to improve your technical and/or business skills.
                    You feel like you're not advancing quickly. You have some ideas for side projects, but aren't sure how to get started, or which to choose.
                    <br /><br />
                    <i>You're overwhelmed by all the things you might focus your time on learning.</i><br /><br />
                    <strong>Doing what you've been doing hasn't gotten you to where you want to be.</strong>
                </p>
                <br />
            </div>
        </div>
    </div>
</header>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('images/bg-showcase-1.jpeg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>You've tried doing it all on your own - it's challenging.</h2>
                <p class="lead mb-0">You don't know what you don't know, which makes self-direction difficult. Motivation can be a challenge when you don't have anybody but yourself holding you accountable or modeling the behavior you need to succeed. One-directional tools like podcasts, articles, and online courses are some help,<br /><strong>but they're not tailored to you and your unique situation.</strong></p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>You need professional coaching</h2>
                <p class="lead mb-0">You're equally sure that, while a professional career coach would surely help you,<br /><strong>you don't have the time or money for such a big investment.</strong></p>
            </div>
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('images/coaching.jpeg');"></div>
        </div>
    </div>
</section>
<!-- Try a new path -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Try a new path</h2>
        <h6>Stop going down a path you know isn't working. Doing the same thing over and over and expecting a different result is the definition of lunacy.</h6>
        <blockquote class="blockquote">
            <h4>"No matter how far down the wrong path you have gone, turn back now."</h4><footer class="blockquote-footer">Turkish Proverb</footer>
        </blockquote>
    </div>
</section>
<div style="max-width:1050px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/atul_gawande_want_to_get_great_at_something_get_a_coach" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
<!-- expert -->
<header class="masthead1 text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h3 class="mb-5">What if you had the skills you need today to take that job you've been dreaming of? <br /><br />What if you had the confidence to know you can ask for that promotion and expect to get it?<br /><br />What if you had someone who's been where you are pushing you to improve, and cheering you on when you succeed? <br /><br />What if you were able to build up passive income streams so you weren't tied to your current job? <br /><br />Imagine being able to hire an expert coach without a huge investment in time or money who could help with all of these things and more.</h3>
                <p></p>
            </div>
        </div>
    </div>
</header>
<!-- live video chat -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                </div>
            </div>-->
            <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
                <img class="titlebox" src="images/devBetter_Box_864x488.png" alt="devBetter Group Coaching with Steve 'Ardalis' Smith" />
                <!--<div class="features-icons-icon d-flex">
                    <i class="icon-people m-auto text-primary"></i>
                </div>
                <h3>devBetter: Live Group Video Coaching</h3>
                <p class="lead mb-0"><br /></p>-->
            </div>
            <p class="lead mb-0">
                Join a small team of like-minded professionals and become a part of my live group video coaching program and community,
                <strong>devBetter</strong>.<br /><br />
                devBetter is an open-ended monthly subscription service (or annually with 2 months free).
                Video sessions take place at various times to accommodate different time zones and use online videoconferencing software like Zoom.
                The format is an open Q&A session. You can join live and ask questions, send in questions in advance, or just listen and learn.
                If you're looking for direction, you'll be given personalized tasks and goals to complete before the next session,
                when you can report on your progress.<br /><br />
                In addition to the live video sessions, you'll also be granted access to the community Discord channel where everyone subscribed to
                <strong>devBetter</strong> collaborates on a daily basis. It is a great place to ask additonal questions, continue discussions in
                breakout channels, pair program, and interact with the rest of the <strong>devBetter</strong> community.
            </p>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ready to start -->
<section class="features-icons bg-light1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-rocket m-auto text-primary"></i>
                    </div>
                    <h3>I'm Ready to Start Down This Path</h3>
                    <p class="lead mb-0"><br /></p>
                </div>
            </div>
            <p class="lead mb-0">
                Join the devBetter group coaching program today and get immediate access to all recorded sessions and the Discord channel,
                as well as access to the schedule of upcoming live coaching sessions. The price is just $200/mo, or $2000/yr, which is a fraction of the price of
                <a href="https://nimblepros.com/buy-now/ols/products/remote-mentoring-4-hours-350hour" target="_blank">NimblePros' 
                    hourly remote mentoring services.
                </a>
            </p>
            <div style="width: 100%; text-align: center; margin-top: 10px; margin-bottom: 20px;">
                <a class="btn btn-primary" href="/checkout/monthly">
                    Join Monthly for $200.00
                </a>
            </div>
            <p class="lead mb-0">
                Click the button to join the monthly group immediately, or
                <a href="/checkout">visit the signup page to choose other options</a>,
                including an annual subscription that includes 2 months free.
                <br />
                <strong>There is no long-term obligation. You can cancel any time.</strong><br /><br />
            </p>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What do others think?</h2>
        <p>Don't take my word for it. Here are some kind words from people I've helped:<br /><br /></p>
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/people/eric_fleming.jpg" alt="Eric F.">
                    <h5>Eric F.</h5>
                    <p class="font-weight-light mb-0">
                        "Steve is not only an expert in the field, but he is a tremendous leader. To Steve, being a leader not only means showing people the
                        right way to do things but he empowers and provides everyone around him with the tools necessary to succeed going forward. With
                        Steve's guidance I've gone from a developer suffering from impostor syndrome to leading a team of 8 engineers with success, and
                        <strong>doubling my salary in the process</strong>. Plain and simple, Steve has changed my career and I could not encourage someone
                        enough to jump at any opportunity they have to be mentored by him."
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/people/robert_gliburoski.jpg" alt="Robert G.">
                    <h5>Robert G.</h5>
                    <p class="font-weight-light mb-0">
                        "Steve Smith's work on software architecture, software design patterns and principles has helped me tremendously in
                        becoming a better software developer and shaping the way I think about software design, development and architecture.<br /><br />
                        (Steve) guided me to build my own loosely-coupled web application using ASP.NET Core 2.0 & Angular 5 demonstrating Clean architecture, <strong>which in turn helped me land a new, better job,</strong> since my interviewers were impressed by the way the application was structured and built to follow the best practices and principles."
                        via <a href="https://www.linkedin.com/in/stevenandrewsmith/">LinkedIn</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/people/chris_hood.jpg" alt="Chris H.">
                    <h5>Chris H.</h5>
                    <p class="font-weight-light mb-0">"The value I received from Steve's coaching was immediate. After just one month, I am already more hopeful and optimistic about where I want to go knowing that Steve is in my corner.  I have direction, weekly challenges, and he's available throughout the week on Slack for any questions or discussion.  Most important to me is having that accountability and challenge to do the work which is tailored to my goals, and he provides that.  <strong>I've tried doing it on my own and it is tough with all of the other commitments and priorities</strong>.  Steve's a genuine nice guy to boot, easy to talk to and relate with. <br /><br /> I highly recommend taking up group coaching with Steve if you are interested in having an industry leader in mentoring and teaching partner with you to accelerate your skills and career."</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/people/stephen_redd.jpg" alt="Stephen R.">
                    <h5>Stephen R.</h5>
                    <p class="font-weight-light mb-0">
                        "Steve's deep mastery and passion for the technical subject matter, combined with his experience as a presenter, make him one of the most effective instructors I've ever encountered. What sets Steve apart is the seamless way he adapts as he gets to know the audience.
                        He quickly builds a comfortable rapport, encourages participation and discussion, and never resorts to high-pressure gimmicks that so often put developers on the defensive. <br /><br />
                        His style actively invites deeper explorations of topics the class finds interesting, while keeping the group focused towards the primary learning objectives.
                        Training from Steve not only imparted crucial skills our team needed, but also left the entire team eager to continue learning and improving afterwards."
                        via <a href="https://www.linkedin.com/in/stevenandrewsmith/">LinkedIn</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/people/philippe-vaillancourt.jpg" alt="Phil V.">
                    <h5>Phil V.</h5>
                    <p class="font-weight-light mb-0">"I have been a member of devBetter for several months now and I can honestly say that signing up was one of the best decisions I have made to advance my software developer career. Steve has been a great coach and a source of precious practical advice and encouragement. Through devBetter, I was introduced to a great group of individuals whom, although they differ in professional experience and background, all seek to better their skills and help each other do the same. devBetter has been instrumental in helping me successfully integrate a new and challenging team environment at work."</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/people/ryan_wemmer_600x600.jpg" alt="Ryan Wemmer">
                    <h5>Ryan Wemmer</h5>
                    <p class="font-weight-light mb-0">"I listed devBetter with Steve Smith on my resume. An interviewer once asked me about my time at devBetter. He said that he'd heard of Steve and listens to any podcast with Steve in it. That company ended up offering me a job resulting in a significant pay increase."</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- let's go! -->
<section class="features-icons bg-light1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-external-link-alt m-auto text-primary"></i>
                    </div>
                    <h3>Let's go!</h3>
                    <p class="lead mb-0"><br /></p>
                </div>
            </div>
            <p class="lead mb-0">
                Join the devBetter group coaching program today and get immediate access to all recorded sessions, the Discord channel, 
                the web site resources, the private GitHub, the private Stack Overflow team, and more!
                </a>
            </p>
            <div style="width: 100%; text-align: center; margin-top: 10px; margin-bottom: 20px;">
                <a class="btn btn-primary" href="/checkout/monthly">
                    Join Monthly for $200.00
                </a>
                <br />
                <a href="/checkout">Go Annual</a>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Interact with devBetter Members -->
<section class="features-icons bg-light1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-social-twitter m-auto text-primary"></i>
                    </div>
                    <h3>Follow devBetter Members on Twitter</h3>
                    <p class="lead mb-0"><br /></p>
                </div>
            </div>
            <p class="lead mb-0">
                Current and past devBetter members share a lot of knowledge.  Use the link below to follow and interact with them on Twitter!
            </p>
            <div style="width: 100%; text-align: center; margin-top: 10px; margin-bottom: 20px;">
                <a class="btn btn-primary" href="https://twitter.com/ardalis/lists/devbetter" target="_blank">Follow DevBetter members on Twitter</a>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                </div>
            </div>
        </div>
    </div>
</section>