@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Developer Career Coaching - devBetter</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <!-- Bootstrap core CSS
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!--<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />-->
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/css/landing-page.css" rel="stylesheet">
    <!-- Facebook -->
    <meta property="og:title" content="Developer Career Coaching | devBetter with Steve Smith">
    <meta property="og:site_name" content="Developer Career Coaching - devBetter">
    <meta property="og:url" content="https://devbetter.com">
    <meta property="og:description" content="“Plain and simple, Steve has changed my career and I could not encourage someone enough to jump at any opportunity they have to be mentored by him.” — Eric Fleming">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://devbetter.com/images/devBetter_Box_864x488.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@ardalis">
    <meta name="twitter:creator" content="@@ardalis">
    <meta name="twitter:title" content="Developer Career Coaching - devBetter">
    <meta name="twitter:description" content="“Plain and simple, Steve has changed my career and I could not encourage someone enough to jump at any opportunity they have to be mentored by him.” — Eric Fleming">
    <meta name="twitter:image" content="https://devbetter.com/images/devBetter_Box_864x488.png">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo_218x48.png" id="logo" alt="devBetter logo" />
                <img src="/images/icon_50x50.png" id="icon" alt="devBetter icon" />
            </a>
            <a asp-page="/ArchivedVideos/Index">Videos</a>
            <partial name="_LoginPartial" />
            <a class="btn btn-primary" href="https://launchpass.com/p/devbetter" target="_blank">Join Now</a>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">You want to Accelerate your Career!</h1>
                    <p class="lead mb-0">
                        You're a software developer seeking to improve your technical and/or business skills.
                        You feel like you're not advancing quickly. You have some ideas for side projects, but aren't sure how to get started, or which to choose.
                        <br /><br />
                        <i>You're overwhelmed by all the things you might focus your time on learning.</i><br /><br />
                        <strong>Doing what you've been doing hasn't gotten you to where you want to be.</strong>
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </header>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('images/bg-showcase-1.jpeg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>You've tried doing it all on your own - it's challenging.</h2>
                    <p class="lead mb-0">You don't know what you don't know, which makes self-direction difficult. Motivation can be a challenge when you don't have anybody but yourself holding you accountable or modeling the behavior you need to succeed. One-directional tools like podcasts, articles, and online courses are some help,<br /><strong>but they're not tailored to you and your unique situation.</strong></p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>You need professional coaching</h2>
                    <p class="lead mb-0">You're equally sure that, while a professional career coach would surely help you,<br /><strong>you don't have the time or money for such a big investment.</strong></p>
                </div>
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('images/coaching.jpeg');"></div>
            </div>
        </div>
    </section>
    <!-- Try a new path -->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Try a new path</h2>
            <h6>Stop going down a path you know isn't working. Doing the same thing over and over and expecting a different result is the definition of lunacy.</h6>
            <blockquote class="blockquote">
                <h4>"No matter how far down the wrong path you have gone, turn back now."</h4><footer class="blockquote-footer">Turkish Proverb</footer>
            </blockquote>
        </div>
    </section>
    <!-- expert -->
    <header class="masthead1 text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h3 class="mb-5">What if you had the skills you need today to take that job you've been dreaming of? <br /><br />What if you had the confidence to know you can ask for that promotion and expect to get it?<br /><br />What if you had someone who's been where you are pushing you to improve, and cheering you on when you succeed? <br /><br />What if you were able to build up passive income streams so you weren't tied to your current job? <br /><br />Imagine being able to hire an expert coach without a huge investment in time or money who could help with all of these things and more.</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </header>
    <!-- live video chat -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <!--<div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    </div>
                </div>-->
                <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <img class="titlebox" src="images/devBetter_Box_864x488.png" alt="devBetter Group Coaching with Steve 'Ardalis' Smith" />
                    <!--<div class="features-icons-icon d-flex">
                        <i class="icon-people m-auto text-primary"></i>
                    </div>
                    <h3>devBetter: Live Group Video Coaching</h3>
                    <p class="lead mb-0"><br /></p>-->
                </div>
                <p class="lead mb-0">
                    Join a small team of like-minded professionals and become a part of my live group video coaching program, <strong>devBetter</strong>.<br /><br />
                    devBetter is a bi-weekly open-ended monthly subscription service (or annually with 2 months free).
                    Sessions take place at various times to accommodate different time zones and use online videoconferencing software like Zoom.
                    The format is an open Q&A session. You can join live and ask questions, send in questions in advance, or just listen and learn.
                    If you're looking for direction, you'll be given personalized tasks and goals to complete before the next session,
                    when you can report on your progress.<br /><br />
                </p>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ready to start -->
    <section class="features-icons bg-light1 text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-rocket m-auto text-primary"></i>
                        </div>
                        <h3>I'm Ready to Start Down This Path</h3>
                        <p class="lead mb-0"><br /></p>
                    </div>
                </div>
                <p class="lead mb-0">
                    Join the devBetter group coaching program today and get immediate access to all recorded sessions and the Slack channel,
                    as well as access to the schedule of upcoming live coaching sessions. The price is just $200/mo, or $2000/yr, which is a fraction of the price of
                    my <a href="https://services-ardalis-com.myshopify.com/collections/mentoring/products/mentoring?variant=10548586759" target="_blank">
                        hourly remote
                        mentoring services.
                    </a>
                </p>
                <div style="width: 100%; text-align: center; margin-top: 10px; margin-bottom: 20px;">
                    <button target="_blank"
                            style="font-family: sans-serif;
          margin: 0 auto; outline: none;
          display: block;
          height: 45px;
          width: 226px;
          border-radius: 6px;
          background: blue;
          color: white;
          box-shadow: 1px 1px 3px 0 rgba(0,0,0,.03);
        font-size: 18px;
          font-weight: 700;
          border: none;
          cursor: pointer;"
                            class="lp5677200100556800">
                        Join Monthly for $200.00
                    </button>
                </div>
                <p class="lead mb-0">
                    Click the button to join the monthly group immediately, or
                    <a href="https://launchpass.com/p/devbetter">visit the signup page to choose other options</a>,
                    including an annual subscription that includes 2 months free.
                    <br />
                    <!--<a href="https://launchpass.com/p/devbetter" target="_blank"><br />Visit the signup page to choose other options,</a>
                    including an annual subscription that includes 2 months free.<br />-->
                    <strong>There is no long-term obligation. You can cancel any time.</strong><br /><br />
                </p>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">What do others think?</h2>
            <p>Don't take my word for it. Here are some kind words from people I've helped:<br /><br /></p>
            <div class="row">
                <div class="col-lg-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="images/people/eric_fleming.jpg" alt="Eric F.">
                        <h5>Eric F.</h5>
                        <p class="font-weight-light mb-0">
                            "Steve is not only an expert in the field, but he is a tremendous leader. To Steve, being a leader not only means showing people the
                            right way to do things but he empowers and provides everyone around him with the tools necessary to succeed going forward. With
                            Steve's guidance I've gone from a developer suffering from impostor syndrome to leading a team of 8 engineers with success, and
                            <strong>doubling my salary in the process</strong>. Plain and simple, Steve has changed my career and I could not encourage someone
                            enough to jump at any opportunity they have to be mentored by him."
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="images/people/robert_gliburoski.jpg" alt="Robert G.">
                        <h5>Robert G.</h5>
                        <p class="font-weight-light mb-0">
                            "Steve Smith's work on software architecture, software design patterns and principles has helped me tremendously in
                            becoming a better software developer and shaping the way I think about software design, development and architecture.<br /><br />
                            (Steve) guided me to build my own loosely-coupled web application using ASP.NET Core 2.0 & Angular 5 demonstrating Clean architecture, <strong>which in turn helped me land a new, better job,</strong> since my interviewers were impressed by the way the application was structured and built to follow the best practices and principles."
                            via <a href="https://www.linkedin.com/in/stevenandrewsmith/">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="images/people/chris_hood.jpg" alt="Chris H.">
                        <h5>Chris H.</h5>
                        <p class="font-weight-light mb-0">"The value I received from Steve's coaching was immediate. After just one month, I am already more hopeful and optimistic about where I want to go knowing that Steve is in my corner.  I have direction, weekly challenges, and he's available throughout the week on Slack for any questions or discussion.  Most important to me is having that accountability and challenge to do the work which is tailored to my goals, and he provides that.  <strong>I've tried doing it on my own and it is tough with all of the other commitments and priorities</strong>.  Steve's a genuine nice guy to boot, easy to talk to and relate with. <br /><br /> I highly recommend taking up group coaching with Steve if you are interested in having an industry leader in mentoring and teaching partner with you to accelerate your skills and career."</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="images/people/stephen_redd.jpg" alt="Stephen R.">
                        <h5>Stephen R.</h5>
                        <p class="font-weight-light mb-0">
                            "Steve's deep mastery and passion for the technical subject matter, combined with his experience as a presenter, make him one of the most effective instructors I've ever encountered. What sets Steve apart is the seamless way he adapts as he gets to know the audience.
                            He quickly builds a comfortable rapport, encourages participation and discussion, and never resorts to high-pressure gimmicks that so often put developers on the defensive. <br /><br />
                            His style actively invites deeper explorations of topics the class finds interesting, while keeping the group focused towards the primary learning objectives.
                            Training from Steve not only imparted crucial skills our team needed, but also left the entire team eager to continue learning and improving afterwards."
                            via <a href="https://www.linkedin.com/in/stevenandrewsmith/">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <p class="text-muted small mb-4 mb-lg-0">&copy; 2018 devBetter; All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="https://www.facebook.com/StevenAndrewSmith/">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="https://twitter.com/ardalis">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <!--<li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://launchpass.com/p/devbetter/embed.js"></script>
</body>
</html>
