@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DevBetterWeb.Core

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<nav class="navbar navbar-light static-top navbar-expand-md">
    <div class="navbar-brand d-flex">
        <div>

        </div>


        <div>
            <a class="" href="/">
                <img src="/images/logo_218x48.png" id="logo" alt="devBetter logo" />
                <img src="/images/icon_50x50.png" id="icon" alt="devBetter icon" />
            </a>
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#devBetterNavBar" aria-controls="devBetterNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="devBetterNavBar">
        <div class="navbar-nav">
            <AuthorizeView>
                <Authorized>
                    <a class="nav-item nav-link text-primary" href="/Videos/Index">Videos</a>
                    <a class="nav-item nav-link text-primary" href="/Questions">Recent Questions/Topics</a>
                    <a class="nav-item nav-link text-primary" href="/User/Index">Members</a>
                    <a class="nav-item nav-link text-primary" href="/Leaderboard/Index">Leaderboard</a>
                    <a class="nav-item nav-link text-primary" href="/Resources/Index">Resources</a>

                    @if (@context.User!.IsInRole(AuthConstants.Roles.ADMINISTRATORS))
                    {
                        <a class="nav-item nav-link text-primary" href="/Admin/Index">Admin</a>
                    }
                    
                </Authorized>
            </AuthorizeView>
        </div>

        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link text-primary" href="/FAQ">FAQ</a>
            <a class="nav-item nav-link text-primary" id="githubNavLink" href="https://github.com/ardalis/devbetterweb"><i class="fab fa-github"></i></a>
            <LoginDisplay />




             <AuthorizeView>
                 <Authorized>
                     @if (!@context.User!.IsInRole(AuthConstants.Roles.MEMBERS))
                    {
                        <a class="btn btn-primary nav-item" href="/checkout" target="_blank">Join Now</a>
                    }
                 </Authorized>
                 <NotAuthorized>
                     <a class="btn btn-primary nav-item" href="/checkout" target="_blank">Join Now</a>
                 </NotAuthorized>
            </AuthorizeView>
            
        </div>
        <div class="navbar-nav">

        </div>
    </div>
    </nav>














@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
