@model DevBetterWeb.Web.ViewModels.SubscriptionTypeViewModel
@{
}

<h1>Purchase @Model.Name Plan</h1>
<h3>$@Model.SubscriptionPrice per @Model.SubscriptionPeriod</h3>
<br />
<!-- Display a payment form -->
<div>
    <style scoped>
        form {
            width: 30vw;
            min-width: 500px;
            align-self: center;
            box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
            border-radius: 7px;
            padding: 40px;
        }

        input {
            border-radius: 6px;
            margin-bottom: 6px;
            padding: 12px;
            border: 1px solid rgba(50, 50, 93, 0.1);
            height: 44px;
            font-size: 16px;
            width: 100%;
            background: white;
        }

        .result-message {
            line-height: 22px;
            font-size: 16px;
        }

            .result-message a {
                color: rgb(89, 111, 214);
                font-weight: 600;
                text-decoration: none;
            }

        .hidden {
            display: none;
        }

        #card-error {
            color: rgb(105, 115, 134);
            text-align: left;
            font-size: 13px;
            line-height: 17px;
            margin-top: 12px;
        }

        #card-element {
            border-radius: 4px 4px 0 0;
            padding: 12px;
            border: 1px solid rgba(50, 50, 93, 0.1);
            height: 44px;
            width: 100%;
            background: white;
        }

        #payment-request-button {
            margin-bottom: 32px;
        }
        /* Buttons and links */
		.button {
			border-radius: 0 0 4px 4px;
			font-family: Arial, sans-serif;			
			font-size: 16px;
			font-weight: 600;
			transition: all 0.2s ease;
			box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
			width: 100%;
			position: relative;
			padding: 8px 16px;
			background: #5469d4;
			border: none;
			outline: none;
			border-radius: 2px;
			cursor: pointer;
		}

		.button:active {
			background: #5469d4;
		}

		.button__text {
			font: bold 20px "Quicksand", san-serif;
			color: #ffffff;
			transition: all 0.2s;
		}

		.button--loading .button__text {
			visibility: hidden;
			opacity: 0;
		}

		button:hover {
			filter: contrast(115%);
        }

		.button--loading::after {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border: 4px solid transparent;
			border-top-color: #ffffff;
			border-radius: 50%;
			animation: button-loading-spinner 1s ease infinite;
		}

		@@keyframes button-loading-spinner {
		  from {
			transform: rotate(0turn);
		  }

		  to {
			transform: rotate(1turn);
		  }
		}

    </style>

    <form id="payment-form">
        <label for="card-element" id="cardLabel">Card</label>
        <div id="card-element" class="form-control"><!--Stripe.js injects the Card Element--></div>
        <br />
        <div class="form-row">
            <label for="email" id="email-label">Email</label>
        </div>
        <div class="form-row">
            <div style="width:100%;">
                <input name="email" id="email-field" class="form-control" required />
            </div>
        </div>
        <br />
        <button id="submit" class="button">
			<span class="button__text">Subscribe</span>
        </button>
        <p class="text-danger" id="card-error" role="alert"></p>
        <p class="result-message hidden">
            Payment successful! Thank you for your purchase. Please check your email to complete your registration.
        </p>

    </form>

    <div id="error-message" class="error-message"></div>

    <p id="no-risk">No risk. Cancel anytime.</p>

    <script src="https://js.stripe.com/v3/"></script>

    <script src="~/js/stripecheckout.js"
            data-stripe_key="@Model.StripePublishableKey"
            data-subscription_plan_price_id="@Model.SubscriptionPlanPriceId"
            defer></script>

</div>

