@page
@model DevBetterWeb.Web.Pages.Checkout.IndexModel
@{
}
<html lang="en">
<head>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/global.css" />
    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3/"></script>
    <!--<script src="./../script.js" defer></script>-->
</head>

<body>
    <div class="togethere-background"></div>
    <div class="sr-root">
        <div class="sr-main">
            <header class="sr-header">
                <div class="sr-header__logo"></div>
            </header>
            <h1>devBetter with Steve Smith</h1>
            <br />
            <h2>Get access today! Choose a subscription plan:</h2>
            <br />
            <p>Members of this channel will fast-track their careers through professional group mentorship. This program is focused exclusively on software developers seeking to maximize their career growth and will cover critical technical and non-technical topics.</p>
            <br />
            <br />
            <div class="row">
                <div class="col-5">
                    <div>
                        Monthly plan: $200 per month
                    </div>
                    <form method="post" asp-page-handler="Monthly">
                        <script src="https://checkout.stripe.com/checkout.js"
                                class="stripe-button"
                                data-keyboard="@Model.StripePublishableKey"
                                data-amount="20000"
                                data-name="Monthly Subscription"
                                data-description="Fast-track your career!">
                        </script>
                     </form>
                </div>
                <div class="col-5">
                    <div>
                        Yearly plan: $2,000 per year
                    </div>
                    <form method="post" asp-page-handler="Yearly">
                        <script src="https://checkout.stripe.com/checkout.js"
                                class="stripe-button"
                                data-keyboard="@Model.StripePublishableKey"
                                data-amount="200000"
                                data-name="Yearly Subscription"
                                data-description="Fast-track your career!">
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="error-message" class="error-message"></div>
</body>
</html>
