@page
@model DevBetterWeb.Web.Pages.Checkout.IndexModel

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="togethere-background"></div>
    <div class="sr-root">
        <div class="sr-main">
            <header class="sr-header">
                <div class="sr-header__logo"></div>
            </header>
            <h1>Get access today!</h1>
            <br />
            <p>Members of this channel will fast-track their careers through professional group mentorship. This program is focused exclusively on software developers seeking to maximize their career growth and will cover critical technical and non-technical topics.</p>
            <br />
            @if (Model.IsReCaptchaValid || Model.HasCaptchaBeenCompleted)
            {
                <h3>Choose between two subscription plans:</h3>
                <div class="row">
                    <div class="col-5">
                        <a class="btn btn-primary" href="https://buy.stripe.com/3cs00s41Ha7q0PC6oo" role="button"><strong>Monthly Plan: $200 per month</strong></a>
                    </div>
                    <div class="col-5">
                        <a class="btn btn-primary" href="https://buy.stripe.com/7sI8wYeGla7q41ObIJ" role="button"><strong>Yearly Plan: $2000 per year</strong></a>
                    </div>
                </div>
            }
            @if (!Model.HasCaptchaBeenCompleted)
            {
                <div>
                    Before proceeding you must confirm you're not a bot:
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" name="captcha" id="captchaInput" />
                        <button type="submit" class="btn btn-primary">Let's Go!</button>
                    </form>
                </div>
            }
        </div>
    </div>

</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js?render=@Model.Configuration["googleReCaptcha:SiteKey"]"></script>
    <script>
        //// Key: @Model.Configuration!["googleReCaptcha:SecretKey"]!.Substring(0,10)
        grecaptcha.ready(function () {
            window.grecaptcha.execute('@Model.Configuration["googleReCaptcha:SiteKey"]', { action: 'home' }).then(function (token) {
                $("#captchaInput").val(token);
            });
        });
    </script>
}
