@page
@model DevBetterWeb.Web.Pages.Checkout.MonthlyModel
@{
}

@*<partial name="_StripeCheckout" for="SubscriptionType" />
*@

This page has been moved to Stripe:

<a href="https://buy.stripe.com/3cs00s41Ha7q0PC6oo">https://buy.stripe.com/3cs00s41Ha7q0PC6oo</a>
