@page
@model DevBetterWeb.Web.Pages.Checkout.SuccessModel
@{
}

<br />
<br />
<h5>Payment successful! Please check your email to complete your registration.</h5>
<h6>If you do not receive an email after 24 hours and have checked your spam folder, please contact DevBetter@nimblepros.com</h6>
