@page
@model DevBetterWeb.Web.Pages.Checkout.YearlyModel
@{

}
@*<partial name="_StripeCheckout" for="SubscriptionType" />
*@

This page has been moved to Stripe:

@* <a href="https://buy.stripe.com/7sI8wYeGla7q41ObIJ">https://buy.stripe.com/7sI8wYeGla7q41ObIJ</a>
 *@