@page
@model DevBetterWeb.Web.Pages.User.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h3>Members</h3>

<table class="table table-sm table-striped" id="membersTable">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userKeyValuePair in Model.UserIdsAndNames)
        {
            <tr>
                <td>@userKeyValuePair.Value</td>
                <td><a class="btn btn-primary btn-sm" asp-page="/User/Details" asp-route-userid="@userKeyValuePair.Key">View</a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts{ 

<script src="~/js/members.js" asp-append-version="true"></script>
}