@page "{userId}"
@model DevBetterWeb.Web.Pages.User.MapModel

@using Microsoft.Extensions.Configuration;
@inject IConfiguration _configuration



<div id="map"  class="col-sm-12"></div>

<script type="text/javascript" 
        src="https://maps.googleapis.com/maps/api/js?key=@_configuration["GoogleMapsAPIKey"]">
</script>

<script type="text/javascript">

    var markers = @Json.Serialize(Model.MemberCoordinates);

    window.onload = function () {

        var mapOptions = {
            center: new google.maps.LatLng(40.4173, -82.9071),
            zoom: 2,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var memberInfoPopup = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        const image = "/images/map-marker.png"; 

        for (i = 0; i < markers.length; i++) {
            var marker = markers[i]
            var myLatlng = new google.maps.LatLng(marker.latitude, marker.longitude);
            var mapPin = new google.maps.Marker({
                position: myLatlng,
                map: map,
                animation: google.maps.Animation.DROP,
                icon: image,
                title: marker.memberFullName,
            });

            if (marker.isClickedMember == true) {
                mapPin.setAnimation(google.maps.Animation.BOUNCE);
            }

            (function (mapPin, marker) {
                google.maps.event.addListener(mapPin, "click", function (e) {
                    mapPin.setAnimation(null);
                    memberInfoPopup.setContent(marker.memberFullName);
                    memberInfoPopup.open(map, mapPin);
                });
            })(mapPin, marker);
        }
    }
    
</script>