@page
@model DevBetterWeb.Web.Pages.User.MapModel
@{
}

<div>
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=1&size=600x300&maptype=roadmap
                &markers=icon:map-marker.png%7Cmanchester
                &markers=canada&markers=serbia
                &key=AIzaSyCm2QJJErqEhoJClMjWUSEpNh5KwnSjD1A">
</div>