<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - devBetter</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <!-- Custom fonts for this template -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/css/landing-page.css" rel="stylesheet">
    <!-- Facebook -->
    <meta property="og:title" content="Developer Career Coaching | devBetter with Steve Smith">
    <meta property="og:site_name" content="Developer Career Coaching - devBetter">
    <meta property="og:url" content="https://devbetter.com">
    <meta property="og:description" content="“Plain and simple, Steve has changed my career and I could not encourage someone enough to jump at any opportunity they have to be mentored by him.” — Eric Fleming">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://devbetter.com/images/devBetter_Box_864x488.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@ardalis">
    <meta name="twitter:creator" content="@@ardalis">
    <meta name="twitter:title" content="Developer Career Coaching - devBetter">
    <meta name="twitter:description" content="“Plain and simple, Steve has changed my career and I could not encourage someone enough to jump at any opportunity they have to be mentored by him.” — Eric Fleming">
    <meta name="twitter:image" content="https://devbetter.com/images/devBetter_Box_864x488.png">
    @await RenderSectionAsync("head", required: false).ConfigureAwait(false)
</head>
<body>
    <nav class="navbar navbar-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo_218x48.png" id="logo" alt="devBetter logo" />
                <img src="/images/icon_50x50.png" id="icon" alt="devBetter icon" />
            </a>
            <a asp-page="/ArchivedVideos/Index">Videos</a>
            <a asp-page="/Questions">Questions</a>
            @if (User.IsInRole(AuthConstants.Roles.ADMINISTRATORS))
            {
                <a asp-page="/Admin/Index">Admin</a>
            }

            @if (User.Identity.IsAuthenticated)
            {
                <a asp-page="/User/MyProfile">My Profile</a>
                <a asp-page="/User/Index">Members</a>
            }


            <partial name="_LoginPartial" />
            <a class="btn btn-primary" href="https://launchpass.com/p/devbetter" target="_blank">Join Now</a>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />
    <div class="container-fluid body-content">
        @RenderBody()

    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <p class="text-muted small mb-4 mb-lg-0">&copy; @DateTime.Now.Year devBetter; All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="https://www.facebook.com/StevenAndrewSmith/">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="https://twitter.com/ardalis">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <!--<li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popperJs/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://launchpass.com/p/devbetter/embed.js"></script>
    @await RenderSectionAsync("scripts", required: false).ConfigureAwait(false)
</body>
</html>
