@page
@model DevBetterWeb.Web.Pages.Admin.UserReports.IndexModel
@{
}

<h3>User Reports</h3>
<br />
<a href="./UserReports/Signups">Signups</a>
<br />
<a href="./UserReports/Cancellations">Cancellations</a>
