@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Sign up";
}

<section class="features-icons bg-light1 text-center">
    <div class="container">
        <div class="row">
            <p class="lead mb-0">
                This is a member only feature.
                <br />
                Join the devBetter group coaching program today and get immediate access to all recorded sessions and the Discord channel,
                as well as access to the schedule of upcoming live coaching sessions. The price is just $200/mo, or $2000/yr, which is a fraction of the price of
                my <a href="https://services-ardalis-com.myshopify.com/collections/mentoring/products/mentoring?variant=10548586759" target="_blank">
                    hourly remote
                    mentoring services.
                </a>
            </p>
            <div style="width: 100%; text-align: center; margin-top: 10px; margin-bottom: 20px;">
                <button target="_blank" class="lp5677200100556800 join">
                    Join Monthly for $200.00
                </button>
            </div>
            <p class="lead mb-0">
                Click the button to join the monthly group immediately, or
                <a href="https://launchpass.com/p/devbetter">visit the signup page to choose other options</a>,
                including an annual subscription that includes 2 months free.
                <br />
                <!--<a href="https://launchpass.com/p/devbetter" target="_blank"><br />Visit the signup page to choose other options,</a>
                including an annual subscription that includes 2 months free.<br />-->
                <strong>There is no long-term obligation. You can cancel any time.</strong><br /><br />
            </p>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                </div>
            </div>
        </div>
    </div>
</section>