@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<section class="features-icons bg-light1 text-center">
    <div class="container">
        <div class="row">
            <p class="lead mb-0">
                This is a member only feature.
                <br />
                Join the devBetter group coaching program today and get immediate access to all recorded sessions and the Discord channel,
                as well as access to the schedule of upcoming live coaching sessions. The price is just $200/mo, or $2000/yr, which is a fraction of the price of
                my <a href="https://services-ardalis-com.myshopify.com/collections/mentoring/products/mentoring?variant=10548586759" target="_blank">
                    hourly remote
                    mentoring services.
                </a>
            </p>
            <div style="width: 100%; text-align: center; margin-top: 10px; margin-bottom: 20px;">
                <a href="/checkout">Click Here to Join</a> (choose monthly or annual subscription)
                <strong>There is no long-term obligation. You can cancel any time.</strong><br /><br />
            </div>
        </div>
    </div>
</section>