@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h3>Email Confirmed</h3>
<div>
    <p>
        Thank you for confirming your email. You may now browse the site!
    </p>
</div>
