@page
@model DevBetterWeb.Web.Areas.Identity.Pages.Account.EmailVerificationRequiredModel

@{
    <div class="alert alert-success">
        <h3>Email Verification Required</h3>
        <p>An email has been sent to the address associated with your account.  Please follow the instructions in the email to complete the email verification process.</p>
    </div>
}
