@page
@model DevBetterWeb.Web.Areas.Identity.Pages.Account.RegistrationSuccessModel
@{
    <div class="alert alert-success">
        <h3>Account Creation Almost Done!</h3>
        <p>You account has been created, and requires email confirmation.  Please follow the instructions in the email that was sent to you to complete the registration process.</p>
    </div>
}
