@page
@model DevBetterWeb.Web.Pages.Calendar.IndexModel
@{
    ViewData["Title"] = "Calendar";
}

<h3>Live Meetings Calendar</h3>

<div class="row">
    <div class="col-7">
        
                <div class="form-group">
                    <p>
                        Meetings are conducted over Zoom. The meeting link is sent to the #coachingsessions channel when it's time to start.
                    </p>
                    <p>
                        Add the <a href="https://calendar.google.com/calendar/ical/ardalis.com_8q31e25nrgo3uc9m3gaeddporc%40group.calendar.google.com/public/basic.ics">meeting calendar</a> to your calendar to see it in your local time zone.
                    </p>
                    <div class="calendar-full">
                        <iframe src="https://calendar.google.com/calendar/embed?src=ardalis.com_8q31e25nrgo3uc9m3gaeddporc%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                    </div>
                    <div class="calendar-agenda">
                <iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&src=ardalis.com_8q31e25nrgo3uc9m3gaeddporc%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
                </div>                
    </div>
</div>


