@page
@model DevBetterWeb.Web.Pages.Resources.IndexModel
@{
    ViewData["Title"] = "Resources";
}

<h3>Resources</h3>

<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header">
                <b>Live Coaching Meetings</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-bold">Zoom and Calendar Links</label>
                    <p>
                        Meetings are conducted over Zoom. The meeting link is sent to the #coachingsessions channel when it's time to start.
                    </p>
                    <p>
                        Add the <a href="https://calendar.google.com/calendar?cid=YXJkYWxpcy5jb21fOHEzMWUyNW5yZ28zdWM5bTNnYWVkZHBvcmNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">meeting calendar</a> to your calendar to see it in your local time zone.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <b>Meeting Archives</b>
            </div>
            <div class="card-body">
                    <p>
                        Past Meetings are recorded and can be viewed in the Videos section in the sidebar.
                    </p>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <b>Private GitHub</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-bold">GitHub Org</label>
                    <p>
                        You should be a member of the <a href="https://github.com/DevBetterCom">DevBetterCom organization on GitHub</a>. If not, contact an admin to help get you added.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <b>Private Stack Overflow</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-bold">devBetter Stack Overflow</label>
                    <p>
                        You should have access to our <a href="https://stackoverflow.com/c/devbetter/questions">private devBetter Stack Overflow Private Team</a>. If not, contact an admin to help get you added.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <b>Discord Bots</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-bold">MEE6</label>
                    <p>
                        The MEE6 bot tracks user activity in Discord and gives experience and levels based on it.
                        <ul>
                            <li><a href="https://mee6.xyz/leaderboard/633401358992801800">MEE6 Leaderboard</a></li>
                            <li>Your Rank: <pre>!rank</pre></li>
                            <li>Search for Music: <pre>!search [term]</pre></li>
                            <li>General Help: <pre>!help</pre></li>
                            <li>Help with Music: <pre>!help music</pre></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                <b>New Members Start Here!</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-bold">Discord</label>
                    <p>You should have access to our Discord server. Make sure to read the #read-this-first channel.</p>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">devBetter.com</label>
                    <p>If you're here, you are set up on the web site. Please complete your <a href="/User/MyProfile">profile!</a></p>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Connect with Other Members</label>
                    <p>Look up and connect with other <a href="/User">members</a> on the networks you use.</p>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Introduce Yourself</label>
                    <p>Hop on Discord and introduce yourself in the #general channel. Who are you? Where are you from? What kind of work do you do? What do you hope to gain from devBetter?</p>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Alumni</label>
                    <p>Members who stick with the group for two full years graduate to Alumni status. You'll see progress indicated in <a href="/User/MyProfile">your profile</a> and on the private <a href="/User">member list</a>.</p>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <b>External Resources</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-bold">More Resources</label>
                        <ul>
                            <li><a href="https://github.com/DevBetterCom/TechInterviewResources">Tech Interview Resources</a></li>
                        </ul>
                </div>
            </div>
        </div>

    </div>
</div>


