@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (!String.IsNullOrEmpty(Model.TwitterAuthURL))
{
	<div class="text-center mt-5">
		<a href="@Model.TwitterAuthURL">Connect to your Twitter account</a>
	</div>
}

@if (!String.IsNullOrEmpty(Model.TwitterName))
{
	<div class="text-center mt-5">
		<h2>Hi <span class="text-decoration-underline">@Model.TwitterName</span>, you're connected to your @@<span
			class="text-decoration-underline">@Model.TwitterUserName</span> account</h2>
	</div>
}



@ViewData["ErrorMessage"]
