@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (!String.IsNullOrEmpty(Model.TwitterAuthURL))
{
	<div class="text-center mt-4">
		<a href="@Model.TwitterAuthURL">Connect to your Twitter account</a>
	</div>
}

@if (!String.IsNullOrEmpty(Model.TwitterName))
{
	<div class="text-center mt-4">
		<h2>Hi @Model.TwitterName, you're connected to your @Model.TwitterUserName @@account</h2>
	</div>
}



@ViewData["ErrorMessage"]
