@page
@model DevBetterWeb.Web.Pages.Videos.CreateModel

@{
	ViewData["Title"] = "Create";
}

<h3>Add Video</h3>

<hr />
<form method="post" enctype="multipart/form-data">
	<div class="row">
		<div class="col-md-4">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="VideoModel.Name" class="control-label"></label>
				<input id="name" asp-for="VideoModel.Name" class="form-control" />
				<span asp-validation-for="VideoModel.Name" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<div class="col-md-10">
					<label>Video File</label>
					<input id="videoFile" type="file" name="videoFile" />
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<div class="col-md-10">
					<label>MD File</label>
					<input id="mdFile" type="file" name="mdFile" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<label asp-for="VideoModel.Description" class="control-label"></label>
				<textarea id="description" asp-for="VideoModel.Description" class="form-control" rows="10" style="max-width:100%"></textarea>
				<span asp-validation-for="VideoModel.Description" class="text-danger"></span>
			</div>

		</div>

	</div>
	<div class="form-group">
		<input type="submit" value="Create" class="btn btn-success" />
	</div>

</form>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
	$( document ).ready(function() {

		if (window.FileReader) {
			$('#videoFile').on('change', function (e) {
				if (e.target.files == undefined || e.target.files.length <= 0) {
					$('#name').val('');
				} else {
					var fileName = e.target.files[0].name;
					$('#name').val(fileName.split('.')[0]);
				}
			});
			$('#mdFile').on('change', function (e) {
				var file = e.target.files[0];
				var reader = new FileReader();
				reader.onload = function (e) {
					var data = reader.result;
					$('#description').val(data);
				}
				reader.readAsText(file);
			});
		}
	});

</script>
}
