@page "{videoId}/{startTime?}"
@model DevBetterWeb.Web.Pages.Videos.DetailsModel
@{
	ViewData["Title"] = @Model!.OEmbedViewModel?.Name;
}

<h3>@Model!.OEmbedViewModel?.Name</h3>

@Html.Raw(@Model!.OEmbedViewModel?.Html)

<br />
<div class="row g-3">
  <div class="col-auto">
    <input type="checkbox" id="isTimestamp" name="isTimestamp" value="false" onclick="changeIsTimestamp()">
    <label for="isTimestamp"> With Timestamp</label><br>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" id="copiedLink" placeholder="Copied Link">
  </div>
  <div class="col-auto">
    <button id="copyLinkBtn" type="button" class="btn btn-primary mb-3" onclick="createAndCopyLink()">
        Copy Link
    </button>
  </div>
</div>

<br />
<h1>@Html.Raw(@Model!.OEmbedViewModel?.Description)</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var isTimestamp = false;

	$(document).ready(function () {
        isTimestamp = false;
        var checkBox = document.getElementById("isTimestamp");
        checkBox.value = isTimestamp;
	});

    function changeIsTimestamp() {
        var checkBox = document.getElementById("isTimestamp");
        isTimestamp = checkBox.checked;
    }

    function createAndCopyLink() {
        if (isTimestamp == true) {
            var iframe = document.getElementById('videoIframe');
            var player = new Vimeo.Player(iframe);

             player.getCurrentTime().then(function(seconds) {
                var link = location.protocol + '//' + location.host + "/Videos/Details/" + @Model!.OEmbedViewModel?.VideoId + "/" + seconds;
                document.getElementById("copiedLink").value = link;
                navigator.clipboard.writeText(link);            
            });
        }
        else {
            var link = location.protocol + '//' + location.host + "/Videos/Details/" + @Model!.OEmbedViewModel?.VideoId;
            document.getElementById("copiedLink").value = link;
            navigator.clipboard.writeText(link);    
        }

        changeButtonText('copyLinkBtn', 'Copied!');
        setTimeout(function() {
            changeButtonText('copyLinkBtn', 'Copy Link');
        }, 2000);
    }

    function changeButtonText(buttonId, value) {
        var button = document.getElementById(buttonId);
        button.innerHTML = value;
        button.innerText = value;
        button.textContent = value;
    }
</script>
}