@page "{videoId}/{startTime?}"
@model DevBetterWeb.Web.Pages.Videos.DetailsModel
@{
	ViewData["Title"] = @Model!.OEmbedViewModel?.Name;
}

<style>
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>

<h3>@Model!.OEmbedViewModel?.Name</h3>

@Html.Raw(@Model!.OEmbedViewModel?.Html)

<br />
<div class="row g-3">
  <div class="col-auto">
    <input type="checkbox" id="isTimestamp" name="isTimestamp" value="false" onclick="changeIsTimestamp()">
    <label for="isTimestamp"> With Timestamp</label><br>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" id="copiedLink" placeholder="Copied Link">
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary mb-3" onclick="createAndCopyLink()" onmouseout="outFunc()">
        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>Copy Link
    </button>
  </div>
</div>

<br />
<h1>@Html.Raw(@Model!.OEmbedViewModel?.Description)</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var isTimestamp = false;

	$(document).ready(function () {
        isTimestamp = false;
        var checkBox = document.getElementById("isTimestamp");
        checkBox.value = isTimestamp;
	});

    function changeIsTimestamp() {
        var checkBox = document.getElementById("isTimestamp");
        isTimestamp = checkBox.checked;
    }

    function createAndCopyLink() {
        if (isTimestamp == true) {
            var iframe = document.getElementById('videoIframe');
            var player = new Vimeo.Player(iframe);

             player.getCurrentTime().then(function(seconds) {
                var link = location.protocol + '//' + location.host + "/Videos/Details/" + @Model!.OEmbedViewModel?.VideoId + "/" + seconds;
                document.getElementById("copiedLink").value = link;
                navigator.clipboard.writeText(link);            
            });
        }
        else {
            var link = location.protocol + '//' + location.host + "/Videos/Details/" + @Model!.OEmbedViewModel?.VideoId;
            document.getElementById("copiedLink").value = link;
            navigator.clipboard.writeText(link);    
        }       
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copied!";
    }
    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
</script>
}