@page "{videoId}/{startTime?}"
@model DevBetterWeb.Web.Pages.Videos.DetailsModel
@{
	ViewData["Title"] = @Model!.OEmbedViewModel?.Name;
}

<h3>@Model!.OEmbedViewModel?.Name</h3>

@Html.Raw(@Model!.OEmbedViewModel?.Html)

<br />
<div class="row g-3">
  <div class="col-auto">
    <input type="text" readonly class="form-control-plaintext" value="Start By Seconds">
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" id="startVideo" placeholder="Seconds">
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary mb-3" onclick="createAndCopyLink()">Copy Link</button>
  </div>
</div>

<br />
<h1>@Html.Raw(@Model!.OEmbedViewModel?.Description)</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

	$(document).ready(function () {

	});

    function createAndCopyLink() {
        var startVideo = document.getElementById("startVideo").value;
        var link = location.protocol + '//' + location.host + "/Videos/Details/" + @Model!.OEmbedViewModel?.VideoId + "/" + startVideo;
        navigator.clipboard.writeText(link);
    }
</script>
}