@page "{videoId}/{startTime?}"
@model DevBetterWeb.Web.Pages.Videos.ShowVideoModel
@{
    ViewData["Title"] = @Model!.OEmbedViewModel?.Name;
}

<h3>@Model!.OEmbedViewModel?.Name</h3>

@Html.Raw(@Model!.OEmbedViewModel?.Html)

<br />
<h1>@Model!.OEmbedViewModel?.Description</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    $(document).ready(function () {
      
    });
</script>
}