@page
@model DevBetterWeb.Web.Pages.Admin.Videos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h3>Add Video</h3>

<hr />
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArchiveVideoModel.Title" class="control-label"></label>
                <input asp-for="ArchiveVideoModel.Title" class="form-control" />
                <span asp-validation-for="ArchiveVideoModel.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ArchiveVideoModel.DateCreated" class="control-label"></label>
                <input asp-for="ArchiveVideoModel.DateCreated" class="form-control"/>
                <span asp-validation-for="ArchiveVideoModel.DateCreated" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="col-md-10">
                    <label>Video Files</label>
                    <input type="file" name="files" multiple />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="ArchiveVideoModel.ShowNotes" class="control-label"></label>
                <textarea asp-for="ArchiveVideoModel.ShowNotes" class="form-control" rows="10" style="max-width:100%"></textarea>
                <span asp-validation-for="ArchiveVideoModel.ShowNotes" class="text-danger"></span>
            </div>

        </div>

        @*<div class="form-group">
                <label asp-for="ArchiveVideoModel.VideoUrl" class="control-label"></label>
                <input asp-for="ArchiveVideoModel.VideoUrl" class="form-control" />
                <span asp-validation-for="ArchiveVideoModel.VideoUrl" class="text-danger"></span>
            </div>*@

    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>

</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
