@page
@model DevBetterWeb.Web.Pages.Admin.Videos.IndexModel
@{
	ViewData["Title"] = "Index";
}

<style>
	#videosDatatable {
	  font-family: Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	#videosDatatable td, #videosDatatable th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}

	#videosDatatable tr:nth-child(even){background-color: #f2f2f2;}

	#videosDatatable tr:hover {background-color: #ddd;}

	#videosDatatable th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #007bff;
	  color: white;
	}

	.pagination-disabled {
		cursor: not-allowed;
		background-color: #fff !important;
	}

	.pagination {
	  display: inline-block;
	  float: right;
	}

	.pagination a {
	  color: black;
	  float: left;
	  padding: 8px 16px;
	  text-decoration: none;
	  border: 1px solid #007bff;
	}

	.pagination a.active {
	  background-color: #007bff;
	  color: white;
	  border: 1px solid #007bff;
	}

	.pagination a:hover:not(.active) {background-color: #007bff;}

	.pagination a:first-child {
	  border-top-left-radius: 5px;
	  border-bottom-left-radius: 5px;
	}

	.pagination a:last-child {
	  border-top-right-radius: 5px;
	  border-bottom-right-radius: 5px;
	}

	
	.ytd-video-meta-block:not(:last-of-type)::after {
		content: "•";
		margin: 0 4px;
	}

	.padding-10 {
		padding: 10px;
	}
</style>

<h3>Recorded Coaching Sessions</h3>
<p asp-authorize asp-roles="Administrators">
	<a class="btn btn-primary" asp-page="Create" style="margin-bottom: 10px;"><i class="fa fa-plus"></i> Create New</a>
</p>
<p asp-authorize asp-roles="Administrators">
	<a class="btn btn-primary" asp-page="DeleteAll" style="margin-bottom: 10px;"><i class="fa fa-plus"></i> Delete All</a>
</p>
<table class="table" id="videosDatatable" asp-authorize asp-roles="Administrators">
	<thead>
        <tr>
			<th>Id</th>
            <th>
                Name
            </th>
            <th>
                Release Time
            </th>
            <th asp-authorize asp-roles="Administrators">
                Created Time
            </th>
            <th asp-authorize asp-roles="Administrators">
                Status
            </th>
			<th asp-authorize asp-roles="Administrators">
			</th>
        </tr>
	</thead>
</table>

@section scripts{
    <script src="~/js/videos-admins.js" asp-append-version="true" asp-authorize asp-roles="Administrators"></script>
}