@page
@model DevBetterWeb.Web.Pages.ArchivedVideos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ArchiveVideo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArchiveVideoModel.Title" class="control-label"></label>
                <input asp-for="ArchiveVideoModel.Title" class="form-control" />
                <span asp-validation-for="ArchiveVideoModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArchiveVideoModel.ShowNotes" class="control-label"></label>
                <textarea asp-for="ArchiveVideoModel.ShowNotes" class="form-control" rows="10"></textarea>
                <span asp-validation-for="ArchiveVideoModel.ShowNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArchiveVideoModel.DateCreated" class="control-label"></label>
                @Model.ArchiveVideoModel.DateCreated
            </div>
            <div class="form-group">
                <label asp-for="ArchiveVideoModel.VideoUrl" class="control-label"></label>
                <input asp-for="ArchiveVideoModel.VideoUrl" class="form-control" />
                <span asp-validation-for="ArchiveVideoModel.VideoUrl" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ArchiveVideoModel.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
