@page
@model DevBetterWeb.Web.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<ul>
    <li>
        <a href="./Admin/Users">
            Manage Users
        </a>
    </li>

    <li>
        <a href="./Admin/Members">
            Manage Members
        </a>
    </li>

    <li>
        <a href="./Admin/Books">
            Manage Books
        </a>
    </li>

    <li>
        <a href="./Admin/ArchivedVideos">
            Manage Videos
        </a>
    </li>
    <li>
        <a href="./Admin/UserReports">
            View Reports
        </a>
    </li>
</ul>

<b>Current environment: </b>@Model.HostingEnvironment.EnvironmentName


@section scripts{
    <script src="~/js/admin.js" asp-append-version="true"></script>
}