@page
@model DevBetterWeb.Web.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div>
    <a href="./Admin/Users">
        Users
    </a>
</div>

<div>
    <a href="./Admin/Books">
        Books
    </a>
</div>



@section scripts{
    <script src="~/js/admin.js" asp-append-version="true"></script>
}