@page
@model DevBetterWeb.Web.Pages.Admin.SubscriptionPlans.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MemberSubscriptionPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Details!.Name" class="control-label"></label>
                <input asp-for="Details!.Name" class="form-control" />
                <span asp-validation-for="Details!.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details!.PricePerBillingPeriod" class="control-label"></label>
                <input asp-for="Details!.PricePerBillingPeriod" class="form-control" />
                <span asp-validation-for="Details!.PricePerBillingPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details!.BillingPeriod" class="control-label"></label>
                <select asp-for="Details!.BillingPeriod">
                    @foreach (var period in Enum.GetValues(typeof(DevBetterWeb.Core.Enums.BillingPeriod)))
                    {
                        <option value="@period">@period</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
