@model List<QuestionViewModel>
@if (!Model.Any())
{
    <p>No questions listed.</p>
}
@foreach (var question in Model)
{
    <p>
        <strong>@question.QuestionText</strong><br />
        <i>@question.CreatedAt</i>
    </p>
}
