@page
@model DevBetterWeb.Web.Pages.User.MyProfile.BillingModel
@{
}

<h3>My Profile: Billing History</h3>

<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header">
                Overview
            </div>
            <div class="card-body">
                <p>@Model.GetOverviewBody()</p>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                Cancel
            </div>
            <div class="card-body">
                To cancel your DevBetter subscription, click below. Your cancellation will take effect at the end of your current subscription period, on @Model.UserBillingViewModel.CurrentSubscriptionEndDate.ToString() .
                <br />
                <br />
                @*clicking this button should open a popup "Are you sure" dialog. Clicking the button in that dialog leads to cancellation*@
                <a class="btn btn-danger btn-sm">Cancel Subscription</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                <b>Recent Activity</b>
            </div>
            <div class="card-body">
                @if (Model.UserBillingViewModel.BillingActivities.Count < 1)
                {
                    <p>No activity to display.</p>
                }
                else
                {
                    foreach (var activity in Model.UserBillingViewModel.BillingActivities)
                    {
                        <p>@activity.Details.Message for $@activity.Details.Amount on @activity.Date.ToLongDateString()</p>
                    }
                }
                <p><i>Note: Activity shown here is only since DevBetter's transistion to the Stripe payment handler.</i></p>
            </div>
        </div>
    </div>
</div>
