@page
@model DevBetterWeb.Web.Pages.FAQModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Frequently Asked Qustions</h1>
    <p>Wondering if devBetter is a good fit for you? Here are some questions potential members have asked:</p>

    <h2>What kind of resources are available to members?</h2>
    <p>Members get access to 
        <ul>
            <li>Weekly live meetings with <a href="https://ardalis.com">Steve Smith</a>, occasional guest speakers, and the rest of the devBetter membership (via Zoom)</li>
            <li>Access to the full archive of recorded coaching sessions with searchable notes going back to 2018 (currently over 150 hours of content)</li>
            <li>Access to the group's private Discord server</li>
            <li>Access to the group's private Stack Overflow Teams site</li>
            <li>Access to the group's private GitHub organization and repositories, including coding exercises and katas</li>
            <li>Promotion of your content via Steve and other devBetter members</li>
        </ul>
    </p>
    <h2>How is mentoring structured? What will I do (or be expected to do) to improve?</h2>
    <p>
        Steve meets members where they are, meaning he will try to assess your specific situation and goals before offering tips on what to do to attain them. The group itself has grown into a great resource for motivated developers and includes several alumni members who augment Steve's mentoring. Some things you may do to improve as part of your devBetter membership include:
        <ul>
            <li>Create content demonstrating your expertise</li>
            <li>Complete coding exercises, alone or with other members, and receive feedback / code reviews</li>
            <li>Read (and discuss) recommended books relevant to your goals</li>
            <li>Build your personal brand and show concrete progress to the group</li>
            <li>Present to the group and/or in public</li>
        </ul>
        In addition to technical skills, the group frequently discusses topics like:
        <ul>
            <li>Resume writing</li>
            <li>Job hunting</li>
            <li>Finances and compensation</li>
            <li>Negotiation skills</li>
            <li>Going independent</li>
            <li>Marketing and branding</li>
            <li>Other topics of interest to current members</li>
        </ul>
    </p>

    <h2>When do we meet?</h2>
    <p>We meet for an hour each week, typically on Fridays. The day and time may vary to accommodate schedules, and typically alternates between a morning and an afternoon time (Eastern Time, USA). All meetings are recorded and available to members after the live meeting.</p>

    <h2>What happens during weekly meetings?</h2>
    <p>Members can request topics to discuss or specific questions they have before the meeting. Meetings may also feature presentations, hands-on coding exercises or competitions, and other activities.</p>

    <h2>How does the alumni program work?</h2>
    <p>
        Paid members in good standing graduate to Alumni members after 24 months. Alumni members retain access to all devBetter resources (provided they continue to follow our code of conduct, etc.), but are no longer charged for membership.
    </p>
        </div>
        <div class="col-4" style="background:url('/images/joel-jasmin-forestbird-znoL1m6MD_k-unsplash.jpg') center;background-size: cover;"></div>
    </div>

    <h2>What if I need more?</h2>
    <p>
        If you're looking for dedicated training or mentoring for yourself or your team, you can <a href="https://nimblepros.com/buy-now/ols/categories/mentoring?utm_source=devbetter&utm_medium=web">purchase remote mentoring hours from NimblePros</a>.
    </p>
</div>