@page
@model DevBetterWeb.Web.Pages.QuestionsModel
@{
  ViewData["Title"] = "Questions";
}

<h3>Questions Discussed!</h3>

<div class="card mb-2">
  <div class="card-header p-2">
	  Questions Discussed!
  </div>
  <div class="card-body p-2">
    @if (!Model.Questions.Any())
    {
      <span>No questions.</span>
    }
    @foreach (var question in Model.Questions)
    {

      <div class="border bg-light p-2 mb-2 d-flex">

        <div class="w-75">
          @Html.DisplayFor(modelItem => question.QuestionText)
        </div>
        <div class="w-25 ml-auto">
	        @question.CreatedAt.ToString("d MMM yyyy")
        </div>
      </div>
    }
  </div>
</div>