@page
@model DevBetterWeb.Web.Pages.QuestionsModel
@{
    ViewData["Title"] = "Questions";
}
<h2>Questions Discussed</h2>

@foreach (var video in Model.Videos)
{
    <h3>@video.DateCreated.ToString("d MMM yyyy") - @video.Title</h3>


    <ul>
        @if(!video.Questions.Any())
        {
            <strong>No questions for this video.</strong>
        }
        @foreach (var item in video.Questions)
        {
            <li>
                @Html.DisplayFor(modelItem => item.QuestionText)<br />
            <strong>@Html.DisplayFor(modelItem => item.TimestampSeconds)</strong>
        </li>
    }
    </ul>
}
