@page
@model DevBetterWeb.Web.Pages.QuestionsModel
@{
    ViewData["Title"] = "Questions";
}

<h3>Questions Discussed!</h3>


@foreach (var session in Model.CoachingSessions)
{
    <div class="card mb-2">
        <div class="card-header p-2">
            <span class="font-weight-bold">@session.StartAt.ToString("d MMM yyyy")</span>
        </div>
        <div class="card-body p-2">
            @if (!session.Questions.Any())
            {
                <span>No questions for this video.</span>
            }

            @foreach (var item in session.Questions)
            {
                <div class="border bg-light p-2 mb-2 d-flex">

                    <div class="w-75">
	                    @Html.Raw(item.QuestionText)
                    </div>
                </div>
            }

        </div>
    </div>
}