name: .NET Core

on: [pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      VIMEO_TOKEN: ${{ secrets.VIMEO_TOKEN }}

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
        include-prerelease: true
    - name: Build and Test with dotnet
      run: dotnet test --filter FullyQualifiedName!~Vimeo.Tests --configuration Release
    
