name: publish

env:
  AZURE_WEBAPP_NAME: devBetter
  AZURE_GROUP_NAME: DevBetterGroup
  AZURE_WEBAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'
        include-prerelease: true
    
    - name: Build and test
      run: dotnet test --filter FullyQualifiedName!~Vimeo.Tests --configuration Release
    - name: publish
      run: dotnet publish ./src/DevBetterWeb.Web/DevBetterWeb.Web.csproj -c Release -o '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/WebApp'

    # Deploy to Azure WebApps using Publish Profile
    - name: 'Azure webapp deploy with Publish Profile'
      uses: azure/webapps-deploy@v3
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZUREWEBAPPPUBLISHPROFILE }}
        package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/WebApp'
